html {
    scroll-behavior: smooth;
  }
.nav-item{
    padding: 2px;
}
.navbar-brand{
    margin: 10px;
}
.container{
    margin:10px;
}
.home{
    margin-top: 300px;
    
}
h1 {
    color: rgb(179,9,84);
    

}
p{
    color:white;
}
.btn-lg {
    background-color:rgb(179,9,84);;
    color:white;
    margin: 8px;
   
}
#button{
   border-radius: 30px;
   padding: 15px 25px;
    border: none;
    
}
button:focus {
    outline:none  !important;
     
}
.heading {
    font-size:xx-large;
    font-weight: bold;
    color:rgb(179,9,84); 
    margin-top: 150px;
}
h5{
    text-align: left;
    margin-top: 20px;
}
.image{
    margin-top: 150px;
}
.musictypes{
    background-image:url('image/milky-way-2675322_1280%20(1).png');
    background-repeat: no-repeat;
    background-position: 100%;
    min-height: 800px;
    margin-top: 90px;
}  
.card{
    margin-top: 110px;
}
h3{
    color:rgb(179,9,84);
}
#signin{
    margin-top: 150px;
}
.form-control{
    margin: 30px;
}
#form{
    color: rgb(179,9,84);
    
}
.form-container{
   background-color: #fff;
   padding: 135px;
   border-radius: 70px;
   box-shadow: 1px 1px 10px 1px silver;
}
.contact{
    background-color:  rgb(10,24,61);
    min-height: 500px;
    margin-top: 220px;
}
.backimg{
    margin-top: 300px;
}
